<script setup lang="ts">
import { useIntegrationStore } from "~~/stores/integration";
import { useWidget } from "./composable/bmw";
import config from "~/bm-catalog.config";

const loading = ref(true);
const loadStyles = ref(!config.DISABLE_CUSTOM_STYLES);
const errorMessage = ref("");
const $integrationStore = useIntegrationStore();
const { locale } = useI18n();
const { height: windowHeight } = useWindowSize();

useWidget();
VHResizer();

// Get lang-cookie and set localization
$integrationStore.LANG = useCookie("lang").value ?? config.DEFAULT_LANG;
locale.value = $integrationStore.LANG;

$integrationStore
	.init()
	.then(async () => {
		if (!config.DISABLE_CUSTOM_STYLES) {
			addStyles($integrationStore.BASE_DOMAIN, $integrationStore.INTEGRATION);
		}
	})
	.catch((e) => (errorMessage.value = e))
	.finally(() => (loading.value = false));

watch(
	() => $integrationStore.LANG,
	(lang) => (locale.value = lang)
);

watch(windowHeight, () => VHResizer());

function VHResizer() {
	document.documentElement.style.setProperty(
		"--vh",
		`${window.innerHeight * 0.01}px`
	);
}

// window.en = () => ($integrationStore.LANG = "en");
// window.ru = () => ($integrationStore.LANG = "ru");

function addStyles(baseDomain: string, integration: string) {
	const linkEl = document.createElement("link");
	linkEl.setAttribute("rel", "stylesheet");
	linkEl.setAttribute(
		"href",
		`https://${baseDomain}/css/${integration}/app.css`
	);
	linkEl.onload = () => (loadStyles.value = false);

	document.head.appendChild(linkEl);
}
</script>

<template>
	<LoaderWrapp :loading="loading || loadStyles">
		<NoDataError v-if="errorMessage" :error-message="errorMessage" />
		<NuxtPage v-else />
	</LoaderWrapp>
</template>
