<script setup lang="ts">
import omit from "lodash-es/omit";
import debounce from "lodash-es/debounce";

const $props = defineProps({
	modelValue: String,
	disabled: Boolean,
	label: String,
	prependIcon: String,
	loading: Boolean,
	searchMode: Boolean,
});

const $emit = defineEmits(["update:modelValue"]);
const $attrs = useAttrs();

const omitAttrs = computed(() => omit($attrs, "class"));

const input = $props.searchMode
	? debounce((value: string) => {
			if (value.length >= 2 || !value.length) $emit("update:modelValue", value);
	  }, 300)
	: (value: string) => $emit("update:modelValue", value);

const localModelValue = computed({
	get() {
		return $props.modelValue;
	},
	set(newValue: any) {
		if ($props.searchMode) {
			input(newValue);
			return;
		}

		$emit("update:modelValue", newValue);
	},
});

function pressEnter(value: string) {
	if ($props.searchMode) {
		// @ts-ignore
		input.cancel();
		$emit("update:modelValue", value);
	}
}
</script>

<template>
	<div class="input" :class="($attrs.class, { input_disabled: disabled })">
		<label v-if="label" class="text-dark">
			{{ label }}
		</label>

		<div class="input__field">
			<div class="input-group">
				<span class="input-group-text">
					<IconLoader v-if="loading" />
					<IconBase v-else :icon="prependIcon" />
				</span>

				<input
					class="form-control"
					v-bind="omitAttrs"
					:value="localModelValue"
					@input="input(($event.target as HTMLInputElement).value)"
					@keyup.enter="pressEnter(($event.target as HTMLInputElement).value)"
					type="text"
				/>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.input {
	min-width: rem(200px);
	display: flex;
	flex-direction: column;

	&__field {
		display: flex;
		align-items: center;

		.icon {
			font-size: rem(16px);
			color: #667085;
			margin-right: rem(6px);
		}
	}

	& input {
		&:autofill {
			-webkit-animation-name: autofill;
			-webkit-animation-fill-mode: both;
		}
	}

	& > label {
		font-size: rem(12px);
	}

	&_disabled {
		pointer-events: none;
		opacity: 0.6;
	}
}

@-webkit-keyframes autofill {
	to {
		color: inherit;
		background: transparent;
	}
}
</style>
