<script setup>
const props = defineProps({
	tabList: {
		type: Array,
		default: () => [],
	},
	activeTab: [String, Number],
});

const $emit = defineEmits(["changeTab"]);

const tab = toRef(props, "activeTab");
const tabs = computed(() => props.tabList);
const radiotabs = ref();

const underlinerTransform = ref("translateX(0)");
const underlinerWidth = ref("0px");

onMounted(() => {
	if (props.tabList.length) {
		// TODO onMounted bug: DOM is not available. Fix it later.
		setTimeout(() => {
			if (underlinerWidth.value === "0px") moveUnderLiner();
		}, 200);
	}
});

onUpdated(() => {
	setTimeout(() => moveUnderLiner(), 100);
});

const moveUnderLiner = () => {
	const activeTabElement = radiotabs.value?.querySelector(
		".radio-tabs__item_active"
	);
	const underWidth = activeTabElement?.offsetWidth;
	const underX = activeTabElement?.offsetLeft;
	underlinerWidth.value = `${underWidth ?? 0}px`;
	underlinerTransform.value = `translateX(${underX ?? 0}px)`;
};
</script>

<template>
	<div class="radio-tabs" ref="radiotabs" v-if="tabs.length">
		<button
			v-for="item in tabs"
			:key="item.id"
			:data-tab="item.id"
			class="radio-tabs__item text-secondary"
			:class="{ 'radio-tabs__item_active': item.id === tab }"
			@click="$emit('changeTab', item.id)"
		>
			<span><slot name="icon" :item="item" /></span>
			<span class="text-sm font-medium">
				{{ $t(`solution.${item.id}`) }}
			</span>
		</button>
		<div
			class="radio-tabs__underliner rounded-top"
			:style="{
				transform: underlinerTransform,
				width: underlinerWidth,
			}"
		/>
	</div>
</template>

<style lang="scss" scoped>
.radio-tabs {
	position: relative;
	display: flex;
	// flex-wrap: wrap;
	border-bottom: solid 1px $color-border-divider;

	&__item {
		all: unset;
		display: flex;
		margin-right: rem(16px);
		padding: 0 rem(10px) rem(4px) rem(10px);
		cursor: pointer;
		font-size: rem(14px);
		font-weight: 500;
		text-align: center;
		min-height: rem(34px);

		&_active {
			color: $color-primary !important;
		}

		&:nth-last-of-type(1) {
			margin-right: 0;
		}
	}

	&__underliner {
		display: flex;
		height: 3px;
		width: 0px;
		background-color: $color-primary;
		position: absolute;
		bottom: 0;
		transition-duration: 0.5s;
	}
}
</style>
