<script setup lang="ts">
import { useTimeId } from "~/composable/unique-id";
defineProps({
	modelValue: Boolean,
	label: String,
	appendIcon: String,
});

const id = `cbx-${useTimeId()}`;

defineEmits(["update:modelValue"]);
</script>

<template>
	<div
		class="checkbox rounded-1"
		@click="$emit('update:modelValue', !modelValue)"
	>
		<input
			class="form-check-input"
			type="checkbox"
			:checked="modelValue"
			:id="id"
		/>
		<label class="form-check-label" :for="id">
			{{ label }}
		</label>

		<IconBase
			:icon="appendIcon"
			class="appendicon"
			:class="{ checkbox__appendicon_offcolor: !modelValue }"
		/>
	</div>
</template>

<style lang="scss" scoped>
.checkbox {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: rem(6px);
	height: rem(26px);
	padding-left: rem(6px);
	padding-right: rem(8px);
	background-color: #f3f3f3;

	label {
		font-size: rem(12px);
	}

	& * {
		pointer-events: none;
	}

	&:hover {
		.checkbox__appendicon_offcolor {
			filter: grayscale(0);
			opacity: 1;
		}
	}

	&__appendicon {
		font-size: rem(14px);

		&_offcolor {
			filter: grayscale(1);
			opacity: 0.5;
			transition-duration: 0.2s;
		}
	}
}
</style>
