<script setup lang="ts">
import type { PropType } from "vue";

export interface CheckboxOption {
	id?: number | string;
	lb: string;
	icon?: string;
	_checked?: boolean;
}

interface Filters {
	filterType?: string;
	id: string;
}

const $props = defineProps({
	label: String,
	isRadio: Boolean,
	options: {
		type: Array as PropType<CheckboxOption[]>,
		default: () => [],
	},
});

const $emit = defineEmits(["update:options"]);

function update(id: string, value: boolean) {
	const newCheckboxOption = [...$props.options];
	if ($props.isRadio && value) {
		newCheckboxOption.forEach((option) => (option._checked = false));
	}
	const changedOption = newCheckboxOption.find((option) => option.id === id);

	if (changedOption) {
		changedOption._checked = value;
		$emit("update:options", changedOption);
	}
}
</script>

<template>
	<div class="checkbox-group">
		<div v-if="label" class="checkbox-group__label text-secondary">
			{{ label }}
		</div>

		<div v-if="options?.length" class="checkbox-group__options">
			<InputCheckBox
				v-for="option in options"
				:key="option.id"
				:label="option.lb"
				:append-icon="option.icon"
				v-model="option._checked"
				@update:model-value="(value) => update((option.id as string), value)"
			/>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.checkbox-group {
	display: flex;
	flex-direction: column;
	font-size: rem(14px);

	&__label {
		margin-bottom: rem(10px);
		font-weight: 500;
	}

	&__options {
		display: flex;
		flex-wrap: wrap;
		gap: rem(8px);
	}
}
</style>
