<script setup lang="ts">
const $props = defineProps({
	icon: String,
	appendIcon: String,
	text: String,

	iconClass: String,
	iconStyle: String,

	loading: Boolean,
	disabled: Boolean,

	// size
	sm: Boolean,

	primary: Boolean,
	link: Boolean,
	secondary: {
		type: Boolean,
		default: true,
	},
});

const $attrs = useAttrs();

const buttonType = computed(() => {
	if ($props.primary) return "btn-primary";
	if ($props.link) return "btn-link";

	return "btn-secondary";
});

const buttonSize = computed(() => {
	if ($props.sm) return "btn-sm";

	return "";
});

const component = computed(() => {
	if ($attrs.to) return defineNuxtLink({});
	return "button";
});
</script>

<template>
	<component
		:is="component"
		class="btn"
		:class="[buttonType, buttonSize]"
		:disabled="loading || disabled"
		v-if="icon || text"
	>
		<div class="button">
			<IconLoader class="prependicon" v-if="loading && icon" />
			<IconBase
				class="prependicon"
				v-else-if="icon"
				:icon="icon"
				:class="iconClass"
			/>
			<span
				v-if="text"
				class="button__text"
				:class="[
					`button__text_${icon ? 'has' : 'no'}-icon`,
					`button__text_${appendIcon ? 'has' : 'no'}-appendicon`,
				]"
			>
				{{ text }}
			</span>
			<IconBase
				v-if="appendIcon"
				:icon="appendIcon"
				class="appendicon"
				:class="iconClass"
				:style="iconStyle"
			/>
		</div>
	</component>
</template>

<style lang="scss" scoped>
.button {
	min-width: fit-content;
	width: fit-content;
	position: relative;
	margin: 0 auto;

	.prependicon.icon {
		display: inline-flex;
		font-size: 1.43em;
		position: absolute;
		font-weight: normal;
		left: rem(-4px);
	}

	.appendicon {
		display: inline-flex;
		font-size: 1.43em;
		position: absolute;
		font-weight: normal;
		right: rem(-5px);
	}

	&__text {
		display: inline-flex;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&_has-icon {
			margin-left: calc(rem(4px) + 1.43em);
		}

		&_no-icon {
			margin-left: 0;
			margin-right: 0;
		}

		&_has-appendicon {
			margin-right: 1.2em;
		}
	}
}

.btn-sm {
	.icon {
		font-size: 1.33em;
	}
}
</style>
