<script setup lang="ts">
import { useSolutionStore } from "~~/stores/solution";
import { useCatStore } from "~~/stores/catalog";

definePageMeta({
	middleware: "modal",
});

const $store = useSolutionStore();
const loading = ref(true);

const { slug_id } = useRoute().params;

// @ts-ignore
const id = slug_id.split("_").pop();
$store.fetchSolution(id, loading);
</script>

<template>
	<LoaderWrapp :loading="loading">
		<section class="page-wrapper">
			<div class="container overflow-hidden">
				<div class="header">
					<ButtonBase
						to="/"
						:text="$t('buttons.all_solutions')"
						link
						icon="ri-arrow-left-s-line"
						class="header__back"
					/>
				</div>

				<div class="solution shadow-sm rounded-3">
					<div class="contaner">
						<div class="row">
							<div class="d-none d-lg-block col-lg-3">
								<SolutionDemoImg />
							</div>

							<div class="col-12 col-lg-9">
								<SolutionContent />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</LoaderWrapp>
</template>

<style lang="scss" scoped>
.page-wrapper {
	position: relative;
	display: flex;
	flex-grow: 1;
	overflow-y: auto;
	background-color: $color-bg-secondary;

	> div {
		height: fit-content;
	}
}

.header {
	height: rem(66px);
	min-height: rem(66px);
	display: flex;
	align-items: center;

	&__back {
		margin-left: rem(-12px);
	}
}

.solution {
	background-color: $color-bg-primary;
	margin-bottom: rem(16px);
	padding: rem(40px);

	@media (max-width: 767px) {
		padding: rem(20px) rem(12px);
	}

	.row {
		--bs-gutter-x: 1.75rem;
	}
}
</style>
