//: font
$font-family-sans-serif: "Gotham Pro", system-ui, -apple-system, "Segoe UI",
	Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-root: 14px;

:root{
	//: colors
	--bc--color--border-divider: 	  #eeeeee;

	--bc--color--bg-primary: 		 	  #ffffff;
	--bc--color--bg-secondary: 	 	  #f6f8fa;
	--bc--color--bg-aside:			 	  #ffffff;
	--bc--color--bg-card:			   	  #FBFBFB;
	--bc--color--bg-filterchips: 	  #EDF1F4;
	--bc--color--bg-badge-secondary:#F6F6F6;
	--bc--color--bg-badge-dark: 	  #EEEEEE;
	--bc--color--bg-badge-primary-light: 	  #EDECFF;
	--bc--color--bg-badge-darkest:  #3D485E;
	--bc--color--bg-badge-darkest:  #3D485E;

	//: sizes
	--bc--aside-width: 				   240px;
}

//: colors
$color-primary:  			  		var(--bs-primary);
$color-primary-light:  			rgba(var(--bs-primary-rgb), 0.1);

$color-border-divider: 			var(--bc--color--border-divider);

$color-bg-primary: 		 			var(--bc--color--bg-primary);
$color-bg-secondary: 	 			var(--bc--color--bg-secondary);
$color-bg-aside:			 			var(--bc--color--bg-aside);
$color-bg-card:			 				var(--bc--color--bg-card);
$color-bg-filterchips: 			var(--bc--color--bg-filterchips);
$color-bg-badge-secondary:	var(--bc--color--bg-badge-secondary);
$color-bg-badge-dark: 			var(--bc--color--bg-badge-dark);
$color-bg-badge-darkest: 		var(--bc--color--bg-badge-darkest);

//: sizes		
$aside-width: 		     			var(--bc--aside-width);