:root {
	--bs-body-color: #000000;
	--bs-font-sans-serif: "Rubik", Arial, sans-serif;
	--bs-primary: #594ed7;

	border-color: var(--bs-primary);
	--bs-pagination-color: #594ed7;
	--bs-primary-rgb: 89, 78, 215;
}

/* prettier-ignore */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.page-link {
	--bs-pagination-color: var(--bs-primary);
	--bs-pagination-active-bg: var(--bs-primary);
	--bs-pagination-active-border-color: var(--bs-primary);
}
.page-link:focus {
	box-shadow: none;
}

/*: buttons */
.btn {
	--bs-btn-font-weight: 400;
	--bs-btn-padding-x: 1.143rem;
	--bs-btn-padding-y: 0.609rem;
	--bs-btn-font-size: 1rem;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);

	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--bs-primary);
	--bs-btn-hover-border-color: var(--bs-primary);

	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--bs-primary);
	--bs-btn-active-border-color: var(--bs-primary);

	--bs-btn-disabled-color: #eeeeee;
	--bs-btn-disabled-bg: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);

	--bs-btn-focus-shadow-rgb: 159, 150, 255;
}

.btn-secondary {
	--bs-btn-color: #667085;
	--bs-btn-bg: #ffffff;
	--bs-btn-border-color: #e3e3e3;

	--bs-btn-hover-color: #667085;
	--bs-btn-hover-bg: #f6f8fa;
	--bs-btn-hover-border-color: #e3e3e3;

	--bs-btn-active-color: #667085;
	--bs-btn-active-bg: #ffffff;
	--bs-btn-active-border-color: #e3e3e3;

	--bs-btn-disabled-color: #667085;
	--bs-btn-disabled-bg: #ffffff;
	--bs-btn-disabled-border-color: #e3e3e3;

	--bs-btn-focus-shadow-rgb: 225, 225, 225;
}

.btn-link {
	--bs-btn-font-weight: 500;
	--bs-btn-color: var(--bs-primary);
	--bs-btn-hover-color: var(--bs-primary);
	--bs-btn-active-color: var(--bs-primary);
	--bs-btn-focus-shadow-rgb: 159, 150, 255;
	text-decoration: none;
	border-radius: 4px;
	padding: 0 0.87rem;
	box-shadow: none;
	padding-top: var(--bs-btn-padding-y);
	padding-bottom: var(--bs-btn-padding-y);
}
.btn-link:hover {
	background-color: #edf1f4;
}
.btn-link:focus {
	box-shadow: none;
}

.btn-sm {
	--bs-btn-padding-y: 0.5rem;
	--bs-btn-padding-x: 1rem;
	--bs-btn-font-size: 0.86rem;
	--bs-btn-border-radius: 0.285rem;
}

/*: inputs */
.form-check-input {
	width: 1.1429em;
	height: 1.1429em;
	margin-top: 0;
}
.form-check-input:checked {
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
}
.form-check-input:focus {
	background-color: 159, 150, 255;
}

.input-group-text {
	border: none;
	padding: 0.428rem 0;
	background-color: transparent;
}

.form-control {
	cursor: text;
	outline: none;
	appearance: none;
	background-color: transparent;
	border: none;
}
.form-control:focus {
	background-color: transparent;
	border-color: transparent;
	outline: 0;
	box-shadow: none;
}

/*: badge */
.badge {
	--bs-badge-padding-x: 0.714rem;
	--bs-badge-padding-y: 0.4rem;
	--bs-badge-font-size: 0.786rem;
	--bs-badge-font-weight: 500;
	font-family: Rubik, Arial, sans-serif;
}

/*: list */
li {
	margin-top: 0.86rem;
}

/* li::before {
	content: "";
	height: 1.42rem;
	padding: 0 0.5rem;
	margin-right: 0.5rem;

	background-image: url(~/assets/images/star-icon.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
} */

@media (min-width: 1400px) {
	/* prettier-ignore */
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 1080px;
	}
}
@media (min-width: 1200px) {
	/* prettier-ignore */
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1080px;
	}
}

/*: modal */
.modal {
	--bs-modal-header-padding: 0.57rem 1.143rem;
	--bs-modal-padding: 0.57rem 1.143rem;
	--bs-modal-footer-gap: 0.57rem;
	--bs-border-color: transparent;
	--bs-modal-width: fit-content;
}

.modal-content {
	padding: 0.57rem 0;
}

.modal-footer {
	padding: 0.57rem 1.143rem;
}
