@import "reset";
@import "normalize";
@import "fonts";
@import "remixicon/fonts/remixicon";

@import "./components/tooltip.scss";
html {
	font-size: $font-size-root;
}

body {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

#__nuxt {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	overflow: hidden;
	max-height: 100vh;
	max-height: calc(var(--vh, 1vh) * 100);
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	opacity: 0 !important;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
	background-color: rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.15) !important;
	border-radius: 4px;
}

.inset-0 {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
