<script setup lang="ts">
import { useSolutionStore } from "~~/stores/solution";
import { useSetupModal } from "~~/composable/modal";
import { isArray } from "lodash";
import { useCropListFill } from "~~/composable/cropList";
// import bot from "@/mocks/solutionN1";

const { bot } = useSolutionStore();

const tabs: any[] = [];
if (bot.description) tabs.push({ id: "description" });
if (bot.features) tabs.push({ id: "features" });
if (bot.product?.partnership) tabs.push({ id: "partnership" });

const activeTab = ref(tabs[0]?.id);
const hasPrice = computed(() => bot?.product?.currentPrice?.formatted);

const demoMessenger = computed(() => {
	const obj = { telegram: false, whatsapp: false };
	if (isEmpty(bot.demo)) return obj;

	// @ts-ignore
	obj.telegram = bot.demo.telegram;
	// @ts-ignore
	obj.whatsapp = bot.demo.whatsapp;

	return obj;
});

const canInstall = computed(() => window.self !== window.top && bot.permissions?.install);

function install(): void {
	window.parent.postMessage({ installSolution: bot.id }, '*');
}

const { modalType, modalID, openModal } = useSetupModal();

function isEmpty(val: any): boolean {
	if (isArray(val)) return !val.length;
	return !val;
}

const tagsWrapper = ref();
const tagsArr = computed(() => bot?.tags ?? ref([]));
// prettier-ignore
const { list, croppedLength, croppedList } = useCropListFill(tagsWrapper, tagsArr);
</script>

<template>
	<div class="d-flex flex-column container">
		<!-- tags -->
		<div class="row" v-if="bot?.tags?.length" ref="tagsWrapper">
			<div class="col solution__tags d-flex">
				<BadgeBase
					v-for="tag in list"
					:key="tag?.id"
					class="d-inline-flex"
					:text="tag.lb"
				/>
				<VTooltip v-if="croppedLength">
					<BadgeBase :text="`+ ${croppedLength}`" class="cursor-pointer" />
					<template #popper>
						<div
							class="d-flex flex-wrap gap-2 justify-content-center"
							style="padding: 12px"
						>
							<BadgeBase
								v-for="(item, index) in croppedList"
								:key="index"
								type="darkest"
								:text="item.lb"
							/>
						</div>
					</template>
				</VTooltip>
			</div>
		</div>

		<!-- title -->
		<h2 class="row">
			<div class="col text-dark">{{ bot?.title }}</div>
		</h2>

		<!-- code -->
		<div class="row" v-if="bot?.product?.code">
			<div class="col mt-1 text-secondary">
				{{ bot?.product?.code }}
			</div>
		</div>

		<!-- description -->
		<div class="row" v-if="bot?.short_promo_text">
			<div class="col mt-3 fs-6 lh-sm text-secondary">
				<span v-html="bot?.short_promo_text" />
			</div>
		</div>

		<!-- price -->
		<div class="row">
			<div class="col">
				<div class="solution__price py-3 rounded-2">
					<div class="row gap-3">
						<!-- text -->
						<div class="col-12 col-md">
							<div class="solution__price__title lh-1 text-secondary">
								{{ $t("solution.price") }}
								{{ hasPrice ? $t("solution.from") : "" }}
							</div>
							<div class="solution__price__value">
								{{
									bot?.product?.currentPrice?.formatted ??
									$t("solution.onrequest")
								}}
							</div>
						</div>

						<!-- buttons -->
						<div class="col-12 col-md">
							<div
								class="d-flex gap-3 flex-column flex-sm-row justify-content-end"
							>
								<ButtonBase
									v-if="canInstall"
									class="w-100"
									primary
									:text="$t('buttons.install_solution')"
									@click="install"
								/>

								<ButtonBase
									v-else
									class="w-100"
									primary
									:text="$t('buttons.order_solution')"
									data-bs-toggle="modal"
									:data-bs-target="`#${modalID}`"
									@click="openModal('install')"
								/>

								<ButtonBase
									class="w-100"
									v-if="!isEmpty(bot.demo)"
									:text="$t('buttons.watch_demo')"
									data-bs-toggle="modal"
									:data-bs-target="`#${modalID}`"
									@click="openModal('demo')"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- video -->
		<div class="row" v-if="bot?.video_id">
			<div class="col">
				<div class="solution__video rounded-2 overflow-hidden">
					<iframe
						:src="`https://www.youtube.com/embed/${bot.video_id}`"
						:title="bot?.title"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen
					/>
				</div>
			</div>
		</div>

		<!-- tabs -->
		<div class="row">
			<div class="col">
				<InputRadioTabs
					class="solution__tabsradio"
					:tab-list="tabs"
					:active-tab="activeTab"
					@change-tab="(id:any) => (activeTab = id)"
				/>
			</div>
		</div>

		<div class="row" v-if="activeTab">
			<div class="col solution__tabs d-flex flex-column">
				<template v-if="activeTab === 'description'">
					<span class="text-dark" v-html="bot.description" />
				</template>

				<template v-else-if="activeTab === 'features'">
					<span class="text-dark" v-html="bot.features" />
				</template>

				<SolutionPartnership
					v-else-if="activeTab === 'partnership'"
					:partnership="bot.product?.partnership"
				/>
			</div>
		</div>
	</div>

	<!-- modal -->
	<ModalBot
		:modalID="modalID"
		:modal-type="modalType"
		:botID="bot.id"
		:bot-title="bot.title"
		:has-messenger="demoMessenger"
	/>
</template>

<style lang="scss" scoped>
.solution {
	&__tags {
		gap: rem(6px);
		margin-bottom: rem(20px);
	}

	&__video {
		background-color: $color-primary-light;
		margin-top: rem(32px);
		aspect-ratio: 16/9;
		position: relative;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__price {
		margin-top: rem(32px);
		background-color: $color-primary-light;
		padding-left: rem(20px);
		padding-right: rem(20px);

		&__title {
			font-size: rem(14px);
		}

		&__value {
			font-size: rem(24px);
			line-height: rem(26px);
			font-weight: 500;
			letter-spacing: -0.0035em;
		}
	}

	&__tabsradio {
		margin-top: rem(32px);
	}

	&__tabs {
		margin-top: rem(20px);
		font-size: rem(14px);
		line-height: rem(18.2px);
	}
}
</style>
