<script setup lang="ts">
interface Partnership {
	links?: PartnerLink[];
	remuneration_tables?: PartnerTable[];
}

type PartnerLink = {
	title?: string;
	url: string;
};

type PartnerTable = {
	title: string;
	headers: string[];
	rows: any[];
};

defineProps<{ partnership: Partnership }>();
</script>

<template>
	<div class="d-flex flex-column gap-4">
		<SolutionPartnershipLink
			v-for="link in partnership.links"
			:key="link.url"
			:link="link"
		/>

		<SolutionPartnershipTable
			v-for="(table, index) in partnership.remuneration_tables"
			:key="index"
			:table="table"
		/>

		<ButtonBase :text="$t('buttons.become_partner')" primary />
	</div>
</template>
