<script setup lang="ts">
type PartnerLink = {
	title?: string;
	url: string;
};

defineProps<{ link: PartnerLink }>();

const copyChecker = reactive({} as { [key: string]: NodeJS.Timeout });

function copyLink(link: PartnerLink) {
	navigator?.clipboard?.writeText(link.url).then(() => {
		clearTimeout(copyChecker[link.url]);
		copyChecker[link.url] = setTimeout(() => {
			delete copyChecker[link.url];
		}, 1000);
	});
}
</script>

<template>
	<div class="d-flex flex-column">
		<!-- title -->
		<h5 v-if="link.title" class="mb-2">{{ link.title }}</h5>

		<!-- link -->
		<div
			class="d-flex justify-content-between gap-3 rounded align-items-center px-3 py-2"
			:class="$style.link__wrapper"
		>
			<span class="d-inline-block text-truncate" :title="link.url">
				{{ link.url }}
			</span>
			<ButtonBase
				link
				sm
				:text="$t(copyChecker[link.url] ? 'buttons.copy_done' : 'buttons.copy')"
				@click="copyLink(link)"
			/>
		</div>
	</div>
</template>

<style lang="scss" module>
.link {
	&__wrapper {
		border: dashed 1px #f1d16d;
		background-color: rgba(241, 209, 109, 0.1);
		font-size: 1.07rem;
	}
}
</style>
