<script setup lang="ts">
import { useSolutionStore } from "~~/stores/solution";
// @ts-ignore
import defaultdemoImg from "~~/assets/images/solution-demo-image.gif";

const { bot } = useSolutionStore();
</script>

<template>
	<div class="phone">
		<div
			class="phone__img"
			:style="{
				backgroundImage: `url(${bot.demo_image ?? defaultdemoImg})`,
			}"
		/>

		<svg viewBox="0 0 243 500" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M208.072 0L34.928 0C14.5065 0 0 14.5214 0 34.9638L0 465.036C0 485.479 14.5065 500 34.928 500H208.072C228.494 500 243 485.479 243 465.036V34.9638C243 14.5214 228.494 0 208.072 0ZM208.072 11.4626C221.043 11.4626 231.549 21.9794 231.549 34.9638V465.036C231.549 478.021 221.043 488.537 208.072 488.537H34.928C21.9569 488.537 11.4509 478.021 11.4509 465.036L11.4509 34.9638C11.4509 21.9794 21.9569 11.4626 34.928 11.4626H56.9379C58.8828 11.4626 60.4594 13.0409 60.4594 14.9878V16.7504C60.4594 23.9183 66.2113 29.6761 73.3719 29.6761H169.628C176.789 29.6761 182.541 23.9183 182.541 16.7504V14.9878C182.541 13.0409 184.117 11.4626 186.062 11.4626H208.072Z"
				fill="#333333"
			/>
		</svg>
	</div>
</template>

<style lang="scss" scoped>
.phone {
	position: relative;
	height: fit-content;

	svg {
		width: 100%;
		height: auto;
		position: relative;
	}

	&__img {
		position: absolute;
		top: 2.253%;
		bottom: 2.25%;
		left: 4.7%;
		right: 4.7%;
		background-color: #f8f8f8;
		box-shadow: 0 0 25px #cccccc;
		border-radius: 11% / 5%;

		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
</style>
