<script setup lang="ts">
interface PartnerTable {
	title: string;
	headers: string[];
	rows: any[];
}

const props = defineProps<{ table: PartnerTable }>();
const isOpen = ref(false);

const rows = computed(() => {
	const visible = [] as any[];
	const hidden = [] as any[];

	props.table.rows.forEach((row, index) => {
		index < 3 ? visible.push(row) : hidden.push(row);
	});

	return { visible, hidden };
});
</script>

<template>
	<div class="rounded d-flex flex-column">
		<!-- title -->
		<h5 v-if="table.title" class="mb-2">{{ table.title }}</h5>

		<!-- table -->
		<table class="w-100" :class="$style.table">
			<thead>
				<!-- header -->
				<th v-for="(header, index) in table.headers" :key="index">
					{{ header }}
				</th>
			</thead>

			<!-- rows -->
			<tr v-for="(row, rowIndex) in rows.visible" :key="rowIndex">
				<td v-for="(col, colIndex) in row" :key="colIndex">
					{{ col }}
				</td>
			</tr>

			<!-- hidden rows -->
			<template v-if="isOpen">
				<tr v-for="(row, rowIndex) in rows.hidden" :key="rowIndex">
					<td v-for="(col, colIndex) in row" :key="colIndex">
						{{ col }}
					</td>
				</tr>
			</template>
		</table>

		<!-- button -->
		<div
			:class="$style.button"
			@click="isOpen = !isOpen"
			v-if="rows.hidden.length"
		>
			{{ $t(`buttons.${isOpen ? "hide" : "expand"}`) }}
		</div>
	</div>
</template>

<style lang="scss" module>
.table {
	border: solid 1px $color-border-divider;
	text-align: center;
	font-size: rem(12px);

	th {
		height: rem(36px);
		border-bottom: solid 1px $color-border-divider;
		color: #808080;
		font-weight: 500;
	}

	td {
		height: rem(40px);
		font-weight: 500;
	}

	th:nth-of-type(n + 1),
	td:nth-of-type(n + 1) {
		border-right: solid 1px $color-border-divider;
	}
}

.button {
	background-color: $color-bg-badge-secondary;
	border: solid 1px $color-border-divider;
	border-top: none;
	height: rem(36px);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #808080;
	font-size: rem(12px);

	&:hover {
		cursor: pointer;
		background-color: $color-border-divider;
	}
}
</style>
