<script setup>
defineProps({
	loading: Boolean,
});
</script>

<template>
	<div
		v-if="loading"
		class="position-absolute inset-0 d-flex justify-content-center align-items-center bg-white"
	>
		<div class="spinner-border loader" role="status">
			<span class="visually-hidden">Загрузка...</span>
		</div>
	</div>
	<template v-else><slot /></template>
</template>

<style lang="scss" scoped>
.loader {
	color: var(--bs-gray-500);
	width: 32px;
	height: 32px;
	animation-duration: 0.5s;
}
</style>
