<script setup lang="ts">
import { PropType } from "vue";

defineProps({
	pagination: {
		type: Object as PropType<Pagination>,
		required: true,
	},
});

defineEmits(["paginate"]);
</script>

<template>
	<nav aria-label="Page navigation" v-if="pagination.totalPages > 1">
		<ul class="pagination">
			<!-- prev -->
			<li
				v-if="pagination.currentPage !== 1"
				@click="$emit('paginate', pagination.currentPage - 1)"
				class="page-item"
			>
				<span class="page-link" style="cursor: pointer" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</span>
			</li>

			<!-- pages -->
			<li
				v-for="page in pagination.totalPages"
				:key="page"
				@click="page === pagination.currentPage ? {} : $emit('paginate', page)"
				class="page-item"
				:class="{ active: page === pagination.currentPage }"
			>
				<span class="page-link" style="cursor: pointer">{{ page }}</span>
			</li>

			<!-- next -->
			<li
				v-if="pagination.currentPage < pagination.totalPages"
				@click="$emit('paginate', pagination.currentPage + 1)"
				class="page-item"
			>
				<span class="page-link" style="cursor: pointer" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</span>
			</li>
		</ul>
	</nav>
</template>
