<template>
	<svg
		width="64"
		height="64"
		viewBox="0 0 100 100"
		xmlns="http://www.w3.org/2000/svg"
	>
		<circle fill="#8E60E5" cx="38" cy="20" r="11" />
		<circle fill="#4EA7FA" cx="74" cy="22" r="21" />
		<circle fill="#6ADD6C" cx="33" cy="65" r="28" />
		<circle fill="#EA5358" cx="82" cy="65" r="17" />
	</svg>
</template>
