<template>
	<svg
		width="10"
		height="7"
		viewBox="0 0 10 7"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<path
			d="M8.33334 1.5L3.75001 6.08333L1.66667 4"
			stroke="white"
			stroke-width="1.66667"
			stroke-linecap="round"
			stroke-linejoin="round"
		/>
	</svg>
</template>
