<script setup lang="ts">
import { PropType } from "vue";
import { useCropListFill } from "~~/composable/cropList";
import { Catalog } from "~~/mocks/catalog";

const iconTypes = ["avito", "telegram", "whatsapp"];

const $props = defineProps({
	bot: Object as PropType<Catalog.Item>,
});

const tagsWrapper = ref();

const iconList = computed(() =>
	$props.bot?.tags.filter((tag) => iconTypes.some((i) => i === tag.lb))
);

const tagsArr = $props.bot ? toRef($props.bot, "tags") : ref([]);

const { list, croppedLength, croppedList } = useCropListFill(
	tagsWrapper,
	tagsArr
);

function goToSolution() {
	useRouter().push(`/solution/${$props.bot?.slug}_${$props.bot?.id}`);
}
</script>

<template>
	<div class="tile shadow-sm rounded" @click="goToSolution()">
		<!-- body -->
		<div class="tile__body">
			<!-- title -->
			<div class="tile__body__title w-100 flex-grow-1 text-dark">
				{{ bot?.title }}

				<!-- description -->
				<div class="tile__body__description inset-0 text-secondary">
					{{ bot?.short_description }}
				</div>
			</div>

			<!-- tags -->
			<div class="tile__body__tags" v-if="bot?.tags.length" ref="tagsWrapper">
				<div>
					<BadgeBase
						v-for="tag in list"
						type="secondary"
						:key="bot?.slug"
						class="d-inline-flex"
						:text="tag.lb"
					/>
					<VTooltip v-if="croppedLength">
						<BadgeBase
							type="secondary"
							:text="`+ ${croppedLength}`"
							class="cursor-pointer"
						/>
						<template #popper>
							<div
								class="d-flex flex-wrap gap-2 justify-content-center"
								style="padding: 12px"
							>
								<BadgeBase
									v-for="(item, index) in croppedList"
									:key="index"
									type="darkest"
									:text="item.lb"
								/>
							</div>
						</template>
					</VTooltip>
				</div>
			</div>
		</div>

		<!-- footer -->
		<div class="tile__footer">
			<IconBase
				v-for="icon in iconList"
				:key="icon.id"
				:icon="`svg-${icon.lb}`"
			/>

			<ButtonBase
				:to="`/solution/${bot?.slug}`"
				class="tile__footer__link"
				link
				sm
				:text="$t('buttons.more')"
				@click="goToSolution()"
			/>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.tile {
	display: flex;
	height: rem(175px);
	flex-direction: column;
	background-color: $color-bg-card;
	font-size: rem(14px);
	cursor: pointer;

	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: rem(125px);
		max-height: rem(125px);
		padding: rem(20px) rem(20px) rem(16px) rem(20px);

		&__title {
			cursor: pointer;
			overflow: hidden;
			text-overflow: ellipsis;
			font-weight: 500;
			line-height: rem(18px);

			&:hover .tile__body__description {
				opacity: 100;
				z-index: 1;
			}
		}

		&__tags {
			overflow: hidden;
			width: 100%;
			margin-top: rem(16px);

			& > div {
				gap: rem(8px);
				display: flex;
			}
		}

		&__description {
			cursor: pointer;
			position: absolute;
			border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
			background-color: $color-bg-card;
			font-size: rem(12px);
			padding: rem(16px) rem(20px);
			opacity: 0;
			transition-duration: 0.1s;
			line-height: rem(16px);
			z-index: -1;
			font-weight: 400;
		}
	}

	&__footer {
		display: flex;
		height: rem(50px);
		min-height: rem(50px);
		align-items: center;
		gap: rem(8px);
		border-top: solid 1px $color-border-divider;
		padding: 0 rem(20px);

		&__link {
			margin-left: auto;
			margin-right: rem(-12px);
			height: rem(34px);
		}
	}
}
</style>
