<script setup lang="ts">
import { useSetupModal } from "~~/composable/modal";
import { useCatStore } from "~~/stores/catalog";

const $store = useCatStore();

const loadingSearch = ref(false);
const { modalType, modalID, openModal } = useSetupModal();

const headerEl = ref();
const filtersEl = ref();

watch(
	() => $store.activeFilters,
	() => {
		loadingSearch.value = true;
		$store.pagination.currentPage = 1;
		$store.fetchCatalog().finally(() => (loadingSearch.value = false));
	}
);

useResizeObserver(filtersEl, (entries) => {
	const entry = entries[0];
	const top = (entry.target as HTMLElement)?.offsetTop;
	headerEl.value.style.top = `-${top}px`;
});
</script>

<template>
	<div class="header" ref="headerEl">
		<!-- top -->
		<div
			class="header__top py-2 px-2 gap-2 px-sm-4 flex-wrap flex-md-nowrap text-center text-md-start"
		>
			<h4 class="header__top__title text-wrap text-md-nowrap text-dark">
				{{ $t("catalog.title") }}
			</h4>

			<ButtonBase
				class="header__button-add"
				:text="$t('buttons.create_bot')"
				primary
				icon="ri-add-line"
				data-bs-toggle="modal"
				:data-bs-target="`#${modalID}`"
				@click="openModal('contact')"
			/>
		</div>

		<!-- bottom -->
		<div class="header__bottom px-2 py-2 gap-2 px-sm-4" ref="filtersEl">
			<!-- search field -->
			<InputText
				v-model="$store.searchQuery"
				:placeholder="$t('catalog.search_placeholder')"
				prepend-icon="ri-search-line"
				search-mode
				:loading="loadingSearch"
				class="me-auto w-100"
			/>

			<CatalogFilterChips class="w-100 d-none d-lg-flex" />

			<!-- dropdown filters -->
			<DropdownMenu :class="{ 'd-md-none': !$store.hasTagFilters }">
				<template #button>
					<ButtonBase
						:text="$t('buttons.filters')"
						sm
						icon="ri-filter-3-line"
					/>
				</template>

				<template #panel> <CatalogDropdownFilters /> </template>
			</DropdownMenu>
		</div>

		<CatalogFilterChips
			v-if="$store.activeFilters.length"
			class="px-2 px-sm-4 pt-2 d-flex d-lg-none mw-100"
		/>
	</div>

	<!-- modal -->
	<ModalBot :modalID="modalID" :modalType="modalType" />
</template>

<style lang="scss" scoped>
.header {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: -100px;
	z-index: 2;
	background-color: $color-bg-secondary;

	&__button-add {
		width: 100%;
		@media screen and (min-width: 768px) {
			width: fit-content;
		}
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__title {
			margin-right: rem(8px);
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		border-top: solid 1px $color-border-divider;
		border-bottom: solid 1px $color-border-divider;
	}
}
</style>
