<script setup lang="ts">
const catalogMainEl = ref();

function scrollPage() {
	const { y } = useScroll(catalogMainEl, { behavior: "smooth" });
	y.value = 0;
}
</script>

<template>
	<div class="catalog-main" ref="catalogMainEl">
		<CatalogHeader />
		<CatalogBotsList @paginate="scrollPage" />
	</div>
</template>

<style lang="scss" scoped>
@media (min-width: 576px) {
	.catalog-main {
		overflow: hidden;
	}
}
.catalog-main {
	display: flex;
	width: 100%;
	flex-grow: 1;
	flex-direction: column;
	overflow-y: auto;
	background-color: $color-bg-secondary;
}
</style>
