<script setup lang="ts">
import { useCatStore } from "~~/stores/catalog";

const emit = defineEmits(["paginate"]);

const $store = useCatStore();
const listWrapperEl = ref();

async function switchPage(page: number) {
	const { y } = useScroll(listWrapperEl);
	y.value = 0;
	$store.fetchCatalog(page);
	emit("paginate");
}
</script>

<template>
	<div
		v-if="$store.bots.length"
		ref="listWrapperEl"
		class="list__wrapper p-2 p-sm-4"
	>
		<div
			class="gap-2 gap-sm-4 list__container mb-2 mb-sm-4"
			style="grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr))"
		>
			<CatalogTile v-for="bot in $store.bots" :key="bot.id" :bot="bot" />
		</div>
		<div class="mt-auto d-flex justify-content-end">
			<PaginationBase :pagination="$store.pagination" @paginate="switchPage" />
		</div>
	</div>

	<NoData
		v-else
		:title="$t('catalog.noresults')"
		:subtitle="$t('catalog.noresults_sub')"
		text-width="25rem"
	>
		<div
			class="mt-4 d-flex flex-wrap justify-content-center gap-2"
			style="max-width: calc(100vw - 16px)"
		>
			<BadgeBase
				v-for="fID in 5"
				:key="fID"
				type="dark"
				:text="$t(`catalog.default_filters[${fID - 1}]`)"
				style="cursor: pointer"
				@click="$store.searchQuery = $t(`catalog.default_filters[${fID - 1}]`)"
			/>
		</div>
	</NoData>
</template>

<style lang="scss" scoped>
.list {
	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	&__container {
		display: grid;
		align-content: flex-start;
	}
}

@media (min-width: 576px) {
	.list__wrapper {
		overflow-y: auto;
		overflow-x: hidden;
	}
}
</style>
