<script setup lang="ts">
import { useCropListFill } from "~~/composable/cropList";
import { useCatStore } from "~~/stores/catalog";

const $store = useCatStore();

const chipsWrapper = ref();
const chipsArr = computed(() => $store.activeFilters);

// prettier-ignore
const { list, croppedLength, croppedList } = useCropListFill(chipsWrapper, chipsArr, 15);
</script>

<template>
	<div
		class="position-relative justify-content-end"
		style="width: 100%"
		ref="chipsWrapper"
	>
		<div class="d-flex gap-2 filterchips">
			<!-- clear all filters -->
			<ButtonBase
				:class="{ 'pe-none invisible': !$store.activeFilters.length }"
				@click="$store.clearFilters()"
				text="Очистить все"
				link
				sm
			/>

			<!-- filterchips -->
			<BadgeFilterChip
				v-for="($f, index) in list"
				:key="index"
				:text="$f.lb"
				@delete:filter="$store.clearFilters($f)"
			/>

			<DropdownMenu v-if="croppedLength">
				<template #button="{ shown }">
					<ButtonBase
						:text="`+ ${croppedLength}`"
						sm
						:append-icon="`ri-arrow-${shown ? 'up' : 'down'}-s-line`"
						icon-style="padding-top: 1.5px"
					/>
				</template>

				<template #panel>
					<div
						class="gap-2 d-flex flex-wrap"
						style="max-width: 30rem; width: fit-content"
					>
						<BadgeFilterChip
							v-for="(item, index) in croppedList"
							:key="index"
							:text="item.lb"
							@delete:filter="$store.clearFilters(item)"
						/>
					</div>
				</template>
			</DropdownMenu>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.filterchips {
	overflow-x: auto;
}
</style>
