<script setup lang="ts">
import type { Tags } from "~~/mocks/tags";
import { useCatStore } from "~~/stores/catalog";

const $store = useCatStore();

function isLeftMenuItems(group: Tags.Tag[]) {
	const { ct } = group[0];

	return ct === "global" || ct === "messenger";
}
</script>

<template>
	<div class="filters-panel">
		<InputCheckBoxGroup
			v-for="(group, index) in $store.tagGroups"
			:key="index"
			:options="group"
			:label="group[0].localizedCategory"
			:is-radio="isLeftMenuItems(group)"
			:class="{ 'd-flex d-md-none': isLeftMenuItems(group) }"
		/>
	</div>
</template>

<style lang="scss" scoped>
.filters-panel {
	display: flex;
	flex-direction: column;
	width: rem(537px);
	gap: rem(24px);
	padding: rem(8px);
	max-width: 100%;
	overflow: hidden;
}
</style>
