<script setup lang="ts">
import type { Tags } from "~~/mocks/tags";
import type { TagGroups } from "~~/stores/catalog";
import { useCatStore } from "~~/stores/catalog";

const $store = useCatStore();

const items = computed(() => {
	const obj = {} as TagGroups;
	const keys = ["global", "messenger"];

	keys.forEach((key) => {
		if ($store.tagGroups[key]) obj[key] = $store.tagGroups[key];
	});

	return obj;
});

function selectCategory(category: Tags.Tag) {
	if (category._checked) return;

	$store.tags.forEach((tag) => {
		if (tag.ct === category.ct) {
			tag._checked = false;
		}
	});

	category._checked = true;
}
</script>

<template>
	<div class="aside d-none d-md-flex overflow-y-auto">
		<!-- all bots button-->
		<div
			class="aside__category rounded"
			:class="{ aside__category_active: !$store.activeFilters.length }"
			@click="$store.clearFilters()"
		>
			<span class="aside__category__title text-dark">
				{{ $t("catalog.all_bots") }}</span
			>
			<span class="aside__category__count text-secondary">
				{{ $store.pagination.totalItems }}
			</span>
		</div>

		<div class="aside__group" v-for="(group, index) in items" :key="index">
			<!-- categories group -->
			<div class="aside__group__label text-muted">
				{{ group[0].localizedCategory?.toUpperCase() }}
			</div>

			<!-- categories -->
			<div
				class="aside__category rounded"
				v-for="category in group"
				:key="category.id"
				:class="{ aside__category_active: category._checked }"
				@click="selectCategory(category)"
			>
				<!-- title -->
				<span class="aside__category__title text-dark">
					{{ category.lb }}
				</span>

				<!-- count -->
				<span class="aside__category__count text-secondary">
					{{ category.solutions ?? 0 }}
				</span>
			</div>
		</div>
	</div>
</template>

<style lang="scss">
.aside {
	position: relative;
	padding: rem(20px) rem(16px);

	flex-grow: 1;
	flex-direction: column;

	width: $aside-width;
	min-width: $aside-width;
	overflow-y: auto;

	border-right: solid 1px $color-border-divider;
	background-color: $color-bg-aside;

	&__group {
		margin-top: rem(24px);
		display: flex;
		flex-direction: column;
		gap: rem(4px);

		&:nth-of-type(1) {
			margin-top: 0;
		}

		&__label {
			margin-bottom: rem(8px);
			padding: 0 rem(12px);
			font: {
				size: rem(12px);
				weight: 500;
			}
		}
	}

	&__category {
		display: flex;
		min-height: rem(30px);
		cursor: pointer;
		align-items: center;
		justify-content: space-between;
		padding: 0 rem(12px);
		font-size: rem(13px);

		&__title {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-weight: 400;
		}

		&__count {
			padding-left: rem(8px);
		}

		&_active,
		&:hover {
			background-color: $color-primary;

			.aside__category__title {
				font-weight: 500;
				color: var(--bs-white) !important;
			}

			.aside__category__count {
				color: var(--bs-white) !important;
			}
		}
	}
}
</style>
