<script setup lang="ts">
const $props = defineProps({
	errorMessage: String,
	title: String,
});
</script>

<template>
	<div
		class="m-auto d-flex flex-grow-1 flex-column align-items-start justify-content-center w-50"
	>
		<div style="color: brown">Error:</div>
		<div style="color: #999">{{ errorMessage }}</div>
	</div>
</template>
