<template>
	<div class="d-flex no-data-img">
		<svg
			width="100%"
			height="100%"
			viewBox="0 0 100 100"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<circle cx="50" cy="50" r="50" class="fill" fill-opacity="0.1" />
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M24.9847 37C24.9847 33.6863 27.671 31 30.9847 31H68.8305C72.1442 31 74.8305 33.6863 74.8305 37V40.9692H76.2488C78.2184 40.9692 79.8151 42.5659 79.8151 44.5355V57.3412C79.8151 59.3108 78.2184 60.9075 76.2488 60.9075H74.8305V64.8767C74.8305 68.1904 72.1442 70.8767 68.8305 70.8767H66.1075H59.8768H30.9847C27.671 70.8767 24.9847 68.1904 24.9847 64.8767V37ZM23.5663 40.9692C21.5967 40.9692 20 42.5659 20 44.5355V57.3412C20 59.3108 21.5967 60.9075 23.5663 60.9075H24.9846V40.9692H23.5663ZM38.6923 57.8919C40.757 57.8919 42.4308 56.2182 42.4308 54.1535C42.4308 52.0888 40.757 50.415 38.6923 50.415C36.6276 50.415 34.9539 52.0888 34.9539 54.1535C34.9539 56.2182 36.6276 57.8919 38.6923 57.8919ZM64.8613 54.1535C64.8613 56.2182 63.1876 57.8919 61.1229 57.8919C59.0582 57.8919 57.3844 56.2182 57.3844 54.1535C57.3844 52.0888 59.0582 50.415 61.1229 50.415C63.1876 50.415 64.8613 52.0888 64.8613 54.1535ZM47.8831 62.229C47.2672 62.229 46.7678 62.7284 46.7678 63.3443C46.7678 63.9603 47.2672 64.4597 47.8831 64.4597H52.3445C52.9604 64.4597 53.4598 63.9603 53.4598 63.3443C53.4598 62.7284 52.9604 62.229 52.3445 62.229H47.8831ZM31.1319 46.7573C30.9725 46.1623 31.3256 45.5507 31.9206 45.3913L41.0072 42.9565C41.6022 42.7971 42.2138 43.1502 42.3732 43.7452C42.5326 44.3401 42.1795 44.9517 41.5845 45.1111L32.4979 47.5459C31.9029 47.7053 31.2913 47.3522 31.1319 46.7573ZM58.7075 42.9618C58.1126 42.8023 57.501 43.1554 57.3416 43.7504C57.1821 44.3454 57.5352 44.957 58.1302 45.1164L67.1785 47.5409C67.7735 47.7003 68.3851 47.3472 68.5445 46.7522C68.704 46.1573 68.3509 45.5457 67.7559 45.3863L58.7075 42.9618Z"
				class="fill"
				fill-opacity="0.17"
			/>
			<g filter="url(#filter0_b_4_11169)">
				<rect
					x="68"
					width="32"
					height="32"
					rx="16"
					class="fill"
					fill-opacity="0.4"
				/>
				<path
					d="M90 22L87.1 19.1M88.6667 15.3333C88.6667 18.2789 86.2789 20.6667 83.3333 20.6667C80.3878 20.6667 78 18.2789 78 15.3333C78 12.3878 80.3878 10 83.3333 10C86.2789 10 88.6667 12.3878 88.6667 15.3333Z"
					stroke="white"
					stroke-width="1.33333"
					stroke-linecap="round"
					stroke-linejoin="round"
				/>
			</g>
			<defs>
				<filter
					id="filter0_b_4_11169"
					x="60"
					y="-8"
					width="48"
					height="48"
					filterUnits="userSpaceOnUse"
					color-interpolation-filters="sRGB"
				>
					<feFlood flood-opacity="0" result="BackgroundImageFix" />
					<feGaussianBlur in="BackgroundImageFix" stdDeviation="4" />
					<feComposite
						in2="SourceAlpha"
						operator="in"
						result="effect1_backgroundBlur_4_11169"
					/>
					<feBlend
						mode="normal"
						in="SourceGraphic"
						in2="effect1_backgroundBlur_4_11169"
						result="shape"
					/>
				</filter>
			</defs>
		</svg>
	</div>
</template>

<style lang="scss" scoped>
.no-data-img {
	height: rem(100px);
}
.fill {
	fill: $color-primary;
}
</style>
