<script setup lang="ts">
const $props = defineProps({
	title: String,
	subtitle: String,
	textWidth: String,
});

const textClassObj = computed(() => ({
	width: $props.textWidth ?? "auto",
	maxWidth: "calc(100vw - 16px)",
}));
</script>

<template>
	<div
		class="d-flex flex-grow-1 flex-column align-items-center justify-content-center"
	>
		<!-- img -->
		<NoDataImage />

		<!-- title -->
		<div
			v-if="title"
			class="no-data__title mt-3 d-flex justify-content-center text-center"
			:style="textClassObj"
		>
			{{ title }}
		</div>

		<!-- subtitle -->
		<div
			v-if="subtitle"
			class="no-data__subtitle mt-2 flex justify-center text-center"
			:style="textClassObj"
		>
			{{ subtitle }}
		</div>

		<div
			class="d-flex flex-column justify-content-center"
			:style="textClassObj"
		>
			<slot />
		</div>
	</div>
</template>

<style lang="scss" scoped>
.no-data {
	&__title {
		font-weight: 500;
		font-size: rem(18px);
	}

	&__subtitle {
		color: #667085;
		font-size: rem(14px);
	}
}
</style>
