<script setup>
defineProps({ text: String });
defineEmits("delete:filter");
</script>

<template>
	<div class="filter-chip rounded text-secondary">
		<span v-if="text">
			{{ text }}
		</span>

		<IconBase icon="ri-close-line" @click="$emit('delete:filter')" />
	</div>
</template>

<style lang="scss" scoped>
.filter-chip {
	display: flex;
	gap: rem(6px);
	align-items: center;
	height: rem(34px);
	padding: 0 rem(12px);
	background-color: $color-bg-filterchips;

	span {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: rem(12px);
		max-width: rem(150px);
	}

	.icon {
		background-color: $color-bg-filterchips;
		border-radius: var(--bs-border-radius);
		cursor: pointer;

		&:hover {
			filter: brightness(0.95);
		}
	}
}
</style>
