<script setup lang="ts">
import { type PropType } from "vue";

type LabelType = "info" | "dark" | "secondary" | "darkest";

const $props = defineProps({
	type: {
		type: String as PropType<LabelType>,
		default: "info",
	},
	text: String,
});

const transformedText = computed(() => {
	if (!$props.text?.length) return "";

	return $props.text[0].toUpperCase() + $props.text.substring(1);
});
</script>

<template>
	<span class="badge rounded-pill" :class="`badge_${type}`" v-if="text?.length">
		{{ transformedText }}
	</span>
</template>

<style lang="scss" scoped>
.badge {
	&_info {
		background-color: $color-primary-light;
		color: $color-primary !important;
	}

	&_secondary {
		background-color: $color-bg-badge-secondary;
		color: var(--bs-secondary) !important;
	}

	&_dark {
		background-color: $color-bg-badge-dark;
		color: var(--bs-secondary) !important;
	}

	&_darkest {
		background-color: $color-bg-badge-darkest;
		color: #ffffff !important;
	}
}
</style>
