<script setup>
const $props = defineProps({
	modal: {
		type: Object,
		default: () => ({ isShow: true }),
	},
	clickableLayout: {
		type: Boolean,
		default: true,
	},
});

const $emit = defineEmits(["hide:modal"]);

const layoutClick = () => {
	if ($props.clickableLayout) {
		$props.modal.hide();
		$emit("hide:modal");
	}
};
</script>

<script>
export default {
	inheritAttrs: false,
};
</script>

<template>
	<Teleport to="body">
		<div v-bind="$attrs" class="modal fade" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<slot name="header" />
					</div>

					<div class="modal-body">
						<slot name="body" />
					</div>

					<div class="modal-footer">
						<slot name="footer" />
					</div>
				</div>
			</div>
		</div>
	</Teleport>
</template>
