<script setup lang="ts">
import { PropType } from "vue";
import { useIntegrationStore } from "~~/stores/integration";
import config from "~/bm-catalog.config";

type ModalType = "install" | "demo" | "contact";
type Messengers = "telegram" | "whatsapp";

const $props = defineProps({
	modalID: String,
	modalType: String as PropType<ModalType>,
	botID: Number,
	botTitle: String,
	hasMessenger: Object as PropType<Record<Messengers, boolean>>,
});

const { t } = useI18n();
const $integraitonStore = useIntegrationStore();

const showButton = computed(() => {
	const { hasMessenger, modalType } = $props;
	const isNotDemo = modalType !== "demo";
	return {
		whatsapp: config.WHATSAPPP_PHONE && (hasMessenger?.whatsapp || isNotDemo),
		telegram: config.TELEGRAM_BOT && (hasMessenger?.telegram || isNotDemo),
	};
});

const bmwURL = {
	whatsapp: (title: string, action: string) =>
		`https://api.whatsapp.com/send?phone=${config.WHATSAPPP_PHONE}&text=${action} ${title} ({code})`,
	telegram: () => `https://t.me/${config.TELEGRAM_BOT}?start={code}`,
};

function apply(messenger: "whatsapp" | "telegram") {
	const { modalType: type, botID: id, botTitle } = $props;

	const action = computed(() => t(`modal.message.${type}`));

	//@ts-ignore
	window.bmw(
		config.WIDGET_CODE,
		"click",
		bmwURL[messenger](botTitle ?? "", action.value),
		messenger,
		{
			partner: $integraitonStore.INTEGRATION,
			type,
			id,
			user: $integraitonStore.hash.user || undefined,
			app: $integraitonStore.hash.app || undefined,
			lang: $integraitonStore.LANG,
		},
		true
	);
	return false;
}
</script>

<template>
	<ModalBase :id="modalID">
		<template #header>
			<div class="d-flex align-items-start justify-content-between w-100">
				<h5 class="modal-title me-5">
					{{ $t(`modal.title.${modalType}`) }}
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" />
			</div>
		</template>

		<template #body>
			{{ $t("modal.subtitle") }}
		</template>

		<template #footer>
			<ButtonBase
				v-if="showButton.whatsapp"
				@click="apply('whatsapp')"
				text="WhatsApp"
				icon="svg-whatsapp"
			/>

			<ButtonBase
				v-if="showButton.telegram"
				@click="apply('telegram')"
				text="Telegram"
				icon="svg-telegram"
			/>
		</template>
	</ModalBase>
</template>
