<script setup>
import { useCatStore } from "~~/stores/catalog";

definePageMeta({
	middleware: "modal",
});

const { initFetch } = useCatStore();
const { isLoading } = useAsyncState(initFetch());
</script>

<template>
	<LoaderWrapp :loading="isLoading">
		<div class="page-wrapper">
			<CatalogAside />
			<CatalogMain :loading="isLoading" />
		</div>
	</LoaderWrapp>
</template>

<style lang="scss" scoped>
.page-wrapper {
	position: relative;
	display: flex;
	flex-grow: 1;
	overflow: hidden;
}
</style>
