<script setup lang="ts">
defineProps({
	type: String,
	placement: {
		type: String,
		default: "bottom-end",
	},
});
</script>

<template>
	<VDropdown
		static
		:eager-mount="true"
		:distance="4"
		theme="dropdown-menu"
		:auto-size="type === 'select'"
		:delay="0"
		:placement="placement"
		auto-max-size
		:overflow-padding="8"
	>
		<template #default="{ shown, show, hide }">
			<slot name="button" :shown="shown" :show="show" :hide="hide"></slot>
		</template>

		<template #popper="{ shown, hide }">
			<slot name="panel" :shown="shown" :hide="hide"></slot>
		</template>
	</VDropdown>
</template>

<style lang="scss">
.v-popper {
	align-items: center;
	display: flex;
}
.v-popper__popper.v-popper--theme-dropdown-menu {
	.v-popper__inner {
		overflow-y: auto;
		border: solid 1px #e3e3e3;
		background-color: $color-bg-primary;
		border-radius: var(--bs-border-radius);
		padding: rem(16px);
	}
	.v-popper__arrow-outer,
	.v-popper__arrow-inner {
		border-color: transparent;
	}
}

.v-popper__popper {
	outline: none;
}

.v-popper__wrapper {
	max-width: calc(100vw - rem(16px));
	overflow: hidden;
	@media screen and (min-width: 576px) {
		max-width: calc(100vw - rem(48px));
	}
}
</style>

<style lang="scss" scoped>
.popper-wrapper {
	padding: rem(16px);
}
</style>
