<script setup lang="ts">
const props = defineProps({
	icon: String,
});

const type = computed(() => {
	const { icon } = props;

	if (icon?.includes(" ")) return icon?.split(" ")[0];

	return icon?.split("-")[0];
});

const strArray = computed((): string[] => {
	const arr = props.icon?.split("-");
	arr!.shift();
	return arr ?? [];
});

const name = computed(() => {
	return strArray.value.reduce(
		(acc, current) => acc + firstLetterUppercase(current)
	);
});

const nameSnakecase = computed(() => strArray.value.join("-"));

const iconSvg = computed(() => {
	const iconName = "Icon" + firstLetterUppercase(name.value);
	return defineAsyncComponent(() => import(`./svg/${iconName}.vue`));
});

function firstLetterUppercase(str: string) {
	return str.charAt(0).toUpperCase() + str.slice(1);
}
</script>

<template>
	<span v-if="icon || $slots.default" class="icon">
		<slot>
			<i v-if="type === 'ri'" :class="icon" />

			<span v-else-if="type === 'fi'" :class="icon" />

			<i
				v-else-if="type === 'feather'"
				class="feather-icon"
				:class="'icon-' + nameSnakecase"
			/>

			<component v-else-if="type === 'svg'" :is="iconSvg" />
		</slot>
	</span>
</template>

<style lang="scss">
.icon {
	display: inline-flex;
	vertical-align: baseline;

	> i {
		line-height: 1;
		font-size: inherit;
		display: block;
	}

	> svg {
		min-width: 1em;
		display: block;
		width: 1em;
		height: 1em;
	}
}
</style>
