<template>
	<IconBase icon="ri-loader-2-line" class="loader" />
</template>

<style lang="scss" scoped>
.loader {
	animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
</style>
